In [1]:
people = {
    "first" : ["corey", "jane", "john"],
    "last" : ["smith", "doe", "doe"],
    "email" : ["coreysmith@gmail.com","janedoe@gmail.com","johndoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

   first   last                 email
0  corey  smith  coreysmith@gmail.com
1   jane    doe     janedoe@gmail.com
2   john    doe     johndoe@gmail.com

In [4]:
df["email"]

0    coreysmith@gmail.com
1       janedoe@gmail.com
2       johndoe@gmail.com
Name: email, dtype: object

In [5]:
df.set_index("email",inplace = True ) 
# inplace makes the index change permanently

In [6]:
df.index

Index(['coreysmith@gmail.com', 'janedoe@gmail.com', 'johndoe@gmail.com'], dtype='object', name='email')

In [7]:
df.loc["coreysmith@gmail.com", "last"]

'smith'

In [8]:
df.reset_index(inplace =True)
df

                  email  first   last
0  coreysmith@gmail.com  corey  smith
1     janedoe@gmail.com   jane    doe
2     johndoe@gmail.com   john    doe